@model MercadoAbastos.Colaborador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Colaborador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Completo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Completo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo_Electronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo_Electronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contraseña)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DNI }) |
    @Html.ActionLink("Back to List", "Index")
</p>
