@model IEnumerable<MercadoAbastos.Colaborador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo_Electronico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo_Electronico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contraseña)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DNI }) |
            @Html.ActionLink("Details", "Details", new { id=item.DNI }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DNI })
        </td>
    </tr>
}

</table>
